.custom-jumbotron {
    background-image:url('/img/cardealership.jpg');
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom:1px solid #ff6a00;
    height: 750px;
}